
#mytree-username{
position: absolute;
font-size: 30px;
z-index: 5;
margin-top: 30px;
color: #333333;
margin-left: 545px;
font-family: cursive;
}

.leaf-review-form{
    display: flex;
    flex-direction: column;
}

#review-text-area{
    padding: 5px;
    height:75px;
    margin-bottom: 15px;
}

.leaf-close-button{
    position: absolute;
}

.leaf-close-button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.review-form-btn{
    /* border: ; */
    background-color: burlywood;
    color: darkslategray;
    height: 25px;
    border-radius: 15px;
}

.review-form-btn:hover{
    cursor: pointer;
    /* border: darkslategrey; */
    /* transform: scale(1.02); */
    transition: 0.5s;
}
