.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 123123;
}

.modal-main {
  border-radius: 10px;
  padding: 12px;
  position:fixed;
  background: white;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

#icon-close{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
#icon-close:hover{
    cursor: pointer;
}
