#root > div > div:nth-child(2) > div > div > div:nth-child(3) > div > form > div{
    border: solid 1px black;
    width: 400px;
    height: 100px;
    position: absolute;
}

#root > div > div:nth-child(2) > div > div > div:nth-child(3){
    height: 200px;
    position: absolute;
    width: 200p;
    margin-left: 40px;
    margin-top: 20px;
}

#root > div > div:nth-child(2) > div > div > div:nth-child(3) > div > form > div > a{
      font-family: Arial, Helvetica, sans-serif;

}

.btn{
 font-family: Arial, Helvetica, sans-serif;
}

.form-search{
    position: absolute;
    height: 30px;
    display: flex;

}
#root > div > div:nth-child(2) > div > div > div:nth-child(2) > div > form > div > input[type=text]:nth-child(3){
    height: 30px;
    background-color: darkgray;
}
#root > div > div:nth-child(2) > div > div > div:nth-child(2) > div > form > div > input[type=text]:nth-child(3):hover{
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);

}
#root > div > div:nth-child(2) > div > div > div:nth-child(1) > li:nth-child(1) > div > h3{
    display: none;
}
#root > div > div:nth-child(2) > div > div > div:nth-child(1) > li:nth-child(2) > div{
    display: none;
}