#root > div > div:nth-child(2) > div > div > div:nth-child(3) > div > form > div{
    border: solid 1px black;
    width: 400px;
    height: 100px;
    position: absolute;
}

#root > div > div:nth-child(2) > div > div > div:nth-child(3){
    height: 200px;
    position: absolute;
    width: 200p;
    margin-left: 40px;
    margin-top: 20px;
}

#root > div > div:nth-child(2) > div > div > div:nth-child(3) > div > form > div > a{
      font-family: Arial, Helvetica, sans-serif;

}

.btn{
 font-family: Arial, Helvetica, sans-serif;
}